html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1rem solid white;
    padding: 1rem;
}

.clock-face {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.hand {
    background-color: black;
    width: 4px;
    height: 50%;
    position: absolute;
    left: calc(50% - 2px);
    transform-origin: bottom;
}
